body {
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  background: #ecf2f8;
}

@media (min-width: 1024px) {
  .grid-container {
    -ms-grid-columns: (120px)[12];
        grid-template-columns: repeat(12, 120px);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.grid-container .first {
  background: #7541c8;
}

@media (min-width: 1024px) {
  .grid-container .first {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.grid-container .first .author__details > .author__identity .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.grid-container .first .author__details > .author__identity .position {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
  color: white;
  opacity: 50%;
}

.grid-container .first h3, .grid-container .first .testimonial {
  color: white;
}

.grid-container .first .testimonial {
  opacity: 50%;
  font-size: 15px;
}

.grid-container .second {
  background: #48556a;
}

@media (min-width: 1024px) {
  .grid-container .second {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / 9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.grid-container .second .author__details > .author__identity .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.grid-container .second .author__details > .author__identity .position {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
  color: white;
  opacity: 50%;
}

.grid-container .second h3, .grid-container .second .testimonial {
  color: white;
}

.grid-container .second .testimonial {
  opacity: 50%;
  font-size: 15px;
}

.grid-container .third {
  background: white;
}

@media (min-width: 1024px) {
  .grid-container .third {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-column: 9 / 11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

.grid-container .third .author__details > .author__identity .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #48556a;
}

.grid-container .third .author__details > .author__identity .position {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
  color: #48556a;
  opacity: 50%;
}

.grid-container .third h3, .grid-container .third .testimonial {
  color: #48556a;
}

.grid-container .third .testimonial {
  opacity: 50%;
  font-size: 15px;
}

.grid-container .fourth {
  background: white;
}

@media (min-width: 1024px) {
  .grid-container .fourth {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.grid-container .fourth .author__details > .author__identity .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #48556a;
}

.grid-container .fourth .author__details > .author__identity .position {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
  color: #48556a;
  opacity: 50%;
}

.grid-container .fourth h3, .grid-container .fourth .testimonial {
  color: #48556a;
}

.grid-container .fourth .testimonial {
  opacity: 50%;
  font-size: 15px;
}

.grid-container .fifth {
  background: #19212e;
}

@media (min-width: 1024px) {
  .grid-container .fifth {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.grid-container .fifth .author__details > .author__identity .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.grid-container .fifth .author__details > .author__identity .position {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
  color: white;
  opacity: 50%;
}

.grid-container .fifth h3, .grid-container .fifth .testimonial {
  color: white;
}

.grid-container .fifth .testimonial {
  opacity: 50%;
  font-size: 15px;
}

.grid-container .grid-item {
  padding: 30px;
  border-radius: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 270px;
  width: 100%;
}

@media (min-width: 1024px) {
  .grid-container .grid-item {
    max-width: unset;
    width: unset;
  }
}

.grid-container .grid-item .author__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .grid-item .author__details .author__image {
  width: 28px;
  height: 28px;
  margin: 0 20px 0 0;
}

@media (min-width: 1024px) {
  .grid-container .grid-item .author__details .author__image {
    width: 56px;
    height: 56px;
  }
}

.grid-container .grid-item .author__details .author__image .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
}

.grid-container .grid-item .author__details .author__identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */